<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="indal">WebSocket</h1>

    <script>
      const socket = new WebSocket("ws://localhost:8000/ws/indal/");

      // Listen for messages
      socket.addEventListener("message", function (event) {
        document.querySelector("#indal").innerHtml = event.data;
      });
    </script>
  </body>
</html>
